@{
    ViewBag.Title = "Index";
   // Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
@section Header{
    Staff Index
}
<h2>Index</h2>
<h3>@Session[TayBac_28_06_17.Commons.Constants.SESSION_ID]</h3>
<h3>@Session[TayBac_28_06_17.Commons.Constants.SESSION_NAME]</h3>
<h3>@Session[TayBac_28_06_17.Commons.Constants.SESSION_GROUPID]</h3>
