
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Layouts/_DoctorLayout.cshtml";
}
@section Header{
    DOCTOR Index
}
<h2>DOCTOR Index</h2>
<h3>@Session[TayBac_28_06_17.Commons.Constants.SESSION_ID]</h3>
<h3>@Session[TayBac_28_06_17.Commons.Constants.SESSION_NAME]</h3>
<h3>@Session[TayBac_28_06_17.Commons.Constants.SESSION_GROUPID]</h3>

